.mainContainer{
    background-image: radial-gradient(at center center,#611fe9 0%,#210560 83%);
    text-align: center;
    padding: 165px 0px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -150px;
    z-index: -1;
}
.mainContainer h1{
    font-weight: 700;
    font-size: 46px;
    color: white;
}
.primaryHeadingContainer{
  width: 44%;
  margin: auto;
}
.headingSpan{
    display: flex;
    flex-direction: column;
    font-size: 19px;
    font-weight: 400;
    color: white;
}
.boxes{
  position: relative;
  bottom: 70%;
  left: 16%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: fit-content;
  }
  .box{
    background-color: white;
    width: 13%;
    padding: 3px 0px;
    border-radius: 8px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 5px 7px 0px rgb(114 114 114 / 25%);
  }
  .dashboardContainer{
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 28px 10%;
  }
  .dashboardItem h5{
    font-size: 24px;
    font-weight: 700;
  }
  .dashboardItem{
    display: flex;
    flex-direction: column;
    gap:12px;
    align-items: center;
    width: 19%;
    
  }
  .pHeading{
    font-size: xxx-large;
    font-weight: 700;
    color: black;
}
.boldSpan{
  font-size: 19px;
    font-weight: 500;
    color: #777385;
}

.cardsContainer{
   background-image: radial-gradient(at center center,rgb(241, 244, 255) 0%,white 83%);
   
   /* background-color: rgb(241, 244, 255) ; */
  padding: 23px;

}
.carditem{
  background-color: white;
  border-radius: 12px;
  height: 45vh;
}
.cardItemsContainer{
  display: flex;
  
}
.lottie{
  width: 350px;
  height: 350px;
}
.imgHeight{
  height: 70vh;
}
.headingContainer{
  width: 35%;
}
@media (max-width:760px){
  .imgHeight{
    height: auto;
  }
  .pHeading{
    font-size: xx-large;
    
}
.headingContainer{
  width: 75%;
}
.carditem{
  
  height: auto;
}
}

@media (max-width:1324px){
  .boxes{
    left: 12%;
  }.headingContainer{
    width: 45%;
  }
  
}

@media (max-width:1198px){
  .boxes{
    left: 1px;
  }
}



@media (max-width:1070px){
  .primaryHeadingContainer{
    width: 60%;
  }
}



@media (max-width:974px){
  .boxes{
    left: 1%;
    bottom: 130px;
  }
  .headingContainer{
    width: 55%;
  }
  .lottie{
    width: 150px;
    height: 150px;
  }
  .boxes span{
    font-size: 12px;
  }
}

@media (max-width:814px){
  .boxes{
    left: -4%;
    bottom: 130px;
  }  
}


@media (max-width:774px){
  .boxes{
    display: none;

  }
  .mainContainer h1{
   
    font-size: 36px;
  }
  .dashboardContainer{
    flex-direction: column;
  }
  .dashboardItem{
    width: 90%;
  }
}
@media (max-width:374px){
  .boxes{
    display: none;

  }
  .headingContainer{
    width: 100%;
  }
  .mainContainer h1{
   
    font-size: 30px;
   
}
}
@media (max-width:574px){
  
  .headingContainer{
    width: 100%;
  }
  .primaryHeadingContainer{
    width: 90%;
  }
}