.mainContainer{
    /* background-image: linear-gradient(90deg,rgb(241, 244, 255) 0%, white 100%; */
    background-image: radial-gradient(at center center,rgb(241, 244, 255) 0%,white 83%);
   
    z-index: -1;
    padding-top: 7% 
}
.pHeading{
    font-size: xxx-large;
    font-weight: 700;
    color: black;
    text-align: center;
    padding: 23px 0px;
}
.blogContainer{
    display: flex;
    gap:23px;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    padding: 0;
    box-shadow: 0px 5px 7px 0px rgb(114 114 114 / 25%);

}
.left{
    width:60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.right{
    padding: 23px;
    padding-bottom: 0;
    padding-right: 48px;
}
.headingSpan{
    font-size: 17px;
    font-weight: bold;
}

.simpleSpan{
    font-size: 15px;
    font-weight: 500;
}
.date{
    color:#bcc1c5;
    font-size: smaller;
}
.Lowerdate{
    font-size: smaller;
    color:#6f4ab8;
}
.blogItemContainer{
    width: 65%;
}
@media (max-width:760px){
    .pHeading{
      font-size: xx-large;
      
  }
  }

  @media (max-width:1044px){
    .blogItemContainer{
        width: 100%;
    }
  }