.heading{
    font-size: 3rem;
    color: white;
    font-weight: bolder;
}
.footercontainer{
    margin-top: 8rem;
    height: 80vh;
    
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;
    overflow-y: hidden;
}
.roundedBg{
    background-image: url('/Images/CTA Background.png');
}
.simpleBg{
    background-image: url('/Images/BG.png');
}
.footerInner{
    padding: 110px 0px;
    /* position: relative;
    top: 35%; */

}
.left{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 70px 20px;
}
.left h2{
    font-size: 1.8rem;
    font-weight: bolder;
    color: white;
}
.left span{
    color: #bfbfbf;
    
    font-size: 17px;
    font-weight: 500;
    
}
@media (max-width:1000px){
    .footerInner{
        flex-direction: column;
    }
}
@media (max-width:466px){
    .left h2{
        font-size: 1.2rem;
        
    }
    .left span{
        font-size: 12px;
        
    }
    .heading{
        font-size: 2rem;
        color: white;
        font-weight: bolder;
    }
}